{% extends "layout.njk" %}

{% block title %}
  <title>Pay Share - Balance</title>
{% endblock %}

{% block content %}
<div class="container">
  {# temporary #}
  <a href="/dashboard/{{user_current}}">
    <button type="button" class="btn btn-dark">Dashboard</button>
  </a>
  <h2>Balance</h2>

  <div>
    {% for element in board %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Transaction</h5>
      </div>
      <p class="mb-1"> {{element.from}} should give {{element.value}} € to {{element.to}} </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
