{% extends "layout.njk" %}

{% block title %}
  <title>Registration</title>
{% endblock %}

{% block content %}
<form action="/register" method="post">
  <div>
    <label>Name:</label>
    <input type="text" name="username"/><br/>
  </div>
  <div>
    <label>Email:</label>
    <input type="text" name="email"/><br/>
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <button type="submit" class="btn btn-dark">
      Inscription
    </button>
  </div>
</form>
{% endblock %}
