{% extends "layout.njk" %}

{% block title %}
  <title>Registration</title>
{% endblock %}

{% block content %}
<div class="container text-center" >
  <div class="card border-light">
    <div class="card-body">
      <form action="/register" method="post">
        <div>
          <input type="text" placeholder="Name" name="username"/><br/>
        </div>
        <div>
          <input type="text" placeholder="Email" name="email"/><br/>
        </div>
        <div>
          <input type="password" placeholder="Password" name="password"/>
        </div>
        <p>
          <div>
            <button type="submit" class="btn btn-dark">
              Sign up
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
