{% extends "layout.njk" %}

{% block title %}
  <title>Pay Share - View Activity</title>
{% endblock %}

{% block dashboardlink %}
"/dashboard/{{userid}}"
{% endblock %}

{% block content %}
<div class="container">
  <a href="/dashboard/{{userid}}"><button type="button" class="btn btn-dark">Dashboard</button></a>
  <button type="button" class="btn btn btn-dark" data-toggle="modal" data-target="#finalizeActivity">
    Finalize the activity
  </button>

  <h3>Activity: {{activity.title}}</h3>
  <form action="/updateact/{{activity.id}}" method="POST">
    <input type="text" placeholder="New Title" name="new_title" value="{{activity.title}}"/> &nbsp;&nbsp;

    <h3>Current location: {{activity.location}}</h3>
    <input type="text" placeholder="New Location" name="new_location" value="{{activity.location}}"/> &nbsp;&nbsp;

    <h3>Current date: {{activity.date}}</h3>
    <input type="date" placeholder="New Date" name="new_date" value="{{activity.date}}"/> &nbsp;&nbsp;
    <button type="submit">Update the activity</button>

  </form>

  <form action="/deleteparticipants/{{activity.id}}" method="POST">
    <h3>Users currently involved:</h3>
    <select name="participants">
      {%for element in participants %}
      <option value="{{element.user_id}}">{{element.name}}</option>
      {% endfor %}
    </select>
    <br/><br/>
  <button type="submit">Delete the participant</button>
</form>

  <form action="/updateparticipants/{{activity.id}}" method="POST">
      <h3>Do you want to add participants?</h3>

  <div class="container">
      <div class="row">
        <div class="col col-sm-3">
          <div class="form-group">
            <label for="search-user">Search user</label>
            <input type="text" class="form-control" id="search-user" />
          </div>
        </div>
        <div class="col col-sm-9">

          <fieldset>
            <legend>Add participants</legend>
            <div id="users-list">
              <!-- Your list will end up here -->
            </div>
            <button type="submit">Add the participant</button>
          </fieldset>

        </div>
      </div>
  </div>

  </form>

  <script>

  const myVariableUsers = {{ users | dump | safe }};
  const listuser=[];
    myVariableUsers.forEach(function(element) {
    listuser.push(element.name);
    });

  let list=document.getElementById("users-list");

  // listuser.forEach(function(element) {
  //   list.innerHTML=list.innerHTML+`<li>${element}</li>`
  //  });

  const myInput = document.querySelector("#search-user");
    myInput.addEventListener("input", function() {
      displayUsers(this.value);
    });

 function displayUsers(entry) {
       list.innerHTML="";
        listuser.forEach(function(element) {
         if (((element).toLowerCase()).includes(entry.toLowerCase()))
         {
         list.innerHTML=list.innerHTML+`<input type="checkbox" name="benefits" value="${element}">&nbsp;&nbsp;<label for=${element}>${element}</label><br/>`;
         }
       });
    }

  </script>

  <!-- Pop up finalize activity -->
  <div class="modal fade" id="finalizeActivity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Finalize activity</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to finalize this activity ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <a href="/finalize_activity/{{activityId}}">
            <button type="button" class="btn btn-success" id="finalize-activity-button">Yes</button>
          </a>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
