{% extends "layout.njk" %}

{% block title %}
  <title>View Activity</title>
{% endblock %}

{% block content %}
<div class="container">
  <a href="/dashboard/{{userid}}"><button type="button" class="btn btn-dark">Dashboard</button></a>
  <a href="/"><button type="button" class="btn btn-dark">Update activity</button></a>
  <a href="/"><button type="button" class="btn btn-dark">Add expense</button></a>
  <a href="/balance/{{activityId}}"><button type="button" class="btn btn-dark">View Balance</button></a>
  <button type="button" class="btn btn btn-dark" data-toggle="modal" data-target="#finalizeActivity">
    Finalize the activity
  </button>

  <h3>{{amounts_sum[0].title}} - Total des dépenses = {{total[0].sum}}€</h3>

  <!-- Pop up finalize activity -->
  <div class="modal fade" id="finalizeActivity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Finalize activity</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to finalize this activity ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
          <a href="/finalize_activity/{{activityId}}">
            <button type="button" class="btn btn-success" id="finalize-activity-button">Yes</button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div id="graph">
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
  <script>
    const ctx = document.getElementById("myChart").getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [{% for element in amounts_sum %}"{{element.name}}",{% endfor %}],
            datasets: [{
                label: 'Expenses',
                data: [{% for element in amounts_sum %}"{{element.sum}}",{% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1
            }]
        },

        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });

  </script>

  <h3>Expenses</h3>

  <div class="list-group">
    {% for element in expenses %}
    <div class="list-group-item list-group-item-action flex-column align-items-start active bg-white text-dark">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{element.title}} by <em>{{element.name}}</em></h5>
        <a href="/"><button class="floatright"><i class="fas fa-search-plus"></i>&nbsp;View Expense</button></a>
      </div>
      <p class="mb-1">for: {{element.count}}, amount: {{element.amount}} €</p>
    </div>
    {% endfor %}
  </div>

{% endblock %}
